{% extends 'adminbase.html.twig' %}

{% block title %} Kategori Detay{% endblock %}

{% block content %}

    <div class="main-content">
    <h3> Kategori Detay</h3>
    <div class="panel">
    <div class="panel-heading">
        <h1>
            <small><a href="{{ path('admin_category_new') }}" class="btn btn-info">Yeni Kategori Ekle</a></small>
        </h1>

    </div>
    <div class="panel-body">
    <table class="table table-bordered">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ category.id }}</td>
        </tr>
        <tr>
            <th>Parentid</th>
            <td>{{ category.parentid }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ category.title }}</td>
        </tr>
        <tr>
            <th>Keywords</th>
            <td>{{ category.keywords }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ category.description }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ category.status }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_category_index') }}">Listeye Geri Dön</a>

    <a href="{{ path('admin_category_edit', {'id': category.id , 'pid': category.parentid}) }}" >Düzenle</a>


        </div>
    </div>
</div>
    <!-- END MAIN CONTENT -->

{% endblock %}